/* relative */


/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

/* body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  color: #212121;
  font-size: 14px;
  background-color: #fff;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 16px;
}

.club-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.club-list .item {
  flex-basis: calc((100% - 32px) / 3);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);

}

.club-list .content {
  padding: 8px;


}

.club-list .title {
  margin-bottom: 8px;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.333;
  position: relative;
  top: -50px;
  right: 50px;
  padding: 8px 12px;
  color: #fff;
  background-color: #212121;
  position: relative;
  top: -50px;
  right: -50px;
  padding: 8px 12px;
  background-color: #212121;
  color: #fff;

}

.club-list .link {
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}
 */

 /* absolute */

 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }

 /* body {
   margin: 0;
   font-family: system-ui, -apple-system, sans-serif;
   color: #212121;
   font-size: 14px;
   background-color: #fff;
   line-height: 1.5;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   margin: 0;
 }

 p {
   margin: 0;
 }

 ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
 }

 img {
   display: block;
   max-width: 100%;
   object-fit: cover;
 }

 .container {
   max-width: 960px;
   margin: 0 auto;
   padding: 0 16px;
 }

 .club-list {
   display: flex;
   flex-wrap: wrap;
   gap: 16px;
 }

 .club-list .item {position: relative;
   flex-basis: calc((100% - 32px) / 3);
   border-radius: 8px;
   overflow: hidden;
   box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
     0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
 }

 .club-list .content {
   padding: 8px;
 }

 .club-list .title {
   position: absolute;
   top: 10px;
   right: 0px;
   padding: 8px 12px;
   color: #fff;
   background-color: #212121;
   margin-bottom: 8px;
   font-size: 16px;
   text-transform: uppercase;
   line-height: 1.333;
 }

 .club-list .link {
   font-weight: 500;
   font-size: 14px;
   text-decoration: none;
 } */


 /* fixed*/
/* 
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }

 body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   margin: 0;
   font-family: "Poppins", sans-serif;
   color: #212121;
   font-size: 14px;
   background-color: #ffffff;
   line-height: 1.5;
 }

 main {
   flex-grow: 1;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   margin: 0;
   font-family: "Oswald", sans-serif;
 }

 p {
   margin: 0;
 }

 ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
 }

 img {
   display: block;
   max-width: 100%;
   object-fit: cover;
 }

 .container {
   max-width: 960px;
   margin: 0 auto;
   padding: 0 16px;
 }

 .page-header {
   margin-bottom: 20px;
   padding-top: 16px;
   padding-bottom: 16px;
   background-color: #e0e0e0;
   background-image: linear-gradient(to right, #03a9f4, #212121);
 }

 .page-header .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .page-nav {
   display: flex;
   gap: 8px;
 }

 .page-nav .link {
   display: block;
   padding: 4px 8px;
   color: #03a9f4;
   text-decoration: none;
   font-size: 14px;
   text-transform: uppercase;
 }

 .page-nav .link:hover,
 .page-nav .link:focus {
   color: #0288d1;
 }

 .page-nav .link:active {
   color: #f44336;
 }

 .hero {
   padding: 48px;
   border-radius: 12px;
   background-color: #212121;
   background-image: linear-gradient(to bottom,
       rgba(0, 0, 255, 0.15),
       rgba(0, 0, 255, 0.15)),
     url(https://cdn.pixabay.com/photo/2016/11/22/22/24/adult-1850925_1280.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   color: #ffffff;
 }

 .hero-title {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;
   margin-bottom: 24px;
   font-size: 32px;
   line-height: 1.333;
   letter-spacing: 3px;
 }

 .hero-title::before,
 .hero-title::after {
   content: "";
   width: 100px;
   height: 2px;
   background-color: #ffffff;
 }

 .hero-title:hover::before,
 .hero-title:hover::after {
   background-color: #03a9f4;
 }

 .section {
   margin-top: 40px;
   padding-top: 20px;
   border-top: 2px dashed #212121;
 }

 .section-title {
   margin-bottom: 20px;
   font-size: 20px;
   font-weight: 500;
   text-align: center;
   line-height: 1.333;
   letter-spacing: 1px;
 }

 .section-text {
   line-height: 1.5;
   text-indent: 24px;
 }

 .club-list {
   display: flex;
   flex-wrap: wrap;
   gap: 16px;
 }

 .club-list .item {
   position: relative;
   flex-basis: calc((100% - 32px) / 3);
   border-radius: 8px;
   overflow: hidden;
   box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
     0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
 }

 .club-list .content {
   padding: 8px;
 }

 .club-list .title {
   position: absolute;
   top: 0;
   right: 0;
   padding: 8px 12px;
   color: #ffffff;
   background-color: #0288d1;
   margin-bottom: 8px;
   font-size: 16px;
   text-transform: uppercase;
   line-height: 1.333;
 }

 .club-list .link {
   color: #03a9f4;
   font-weight: 500;
   font-size: 14px;
   text-decoration: none;
 }

 .club-list .link:hover,
 .club-list .link:focus {
   color: #0288d1;
 }

 .club-list .link:active {
   color: #f44336;
 }

 .benefits {
   display: flex;
   flex-wrap: wrap;
   gap: 16px;
   margin-top: 20px;
   margin-bottom: 0;
   padding: 0;
   list-style: none;
 }

 .benefits li {
   flex-basis: calc((100% - 32px) / 3);
 }

 .downloads {
   margin-top: 20px;
 }

 .downloads li:not(:last-child) {
   margin-bottom: 8px;
 }

 .downloads .link {
   color: #03a9f4;
   text-decoration: none;
 }

 .downloads .link:hover,
 .downloads .link:focus {
   color: #0288d1;
   text-decoration: underline;
 }

 .downloads .link:active {
   color: #f44336;
 }

 .page-footer {
   margin-top: 20px;
   padding-top: 20px;
   padding-bottom: 20px;
   background-color: #212121;
 }

 .page-footer .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

 .copyright-text {
   flex-basis: 300px;
   color: #ffffff;
 }

 .social-links {
   display: flex;
   gap: 8px;
   flex-shrink: 0;
   align-self: flex-end;
 }

 .manager-chat-btn {
  position: fixed;
    right: 32px;
    bottom: 32px;
   padding: 12px 16px;
   border: none;
   border-radius: 4px;
   text-transform: uppercase;
   color: #ffffff;
   cursor: pointer;
   background-color: #03a9f4;
   box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
     rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
 }

 .manager-chat-btn:hover {
   background-color: #0288d1;
 } */


 /* sticky */

/* .page-header{position: sticky;
top:0;} */


/* z-index */

/* .page-header{z-index: 999;}

..manager-chat-btn{z-index: 999;} */



/* overflow */


/* * {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.gallery {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 8px;
}

.gallery-item {
  border: 1px solid #212121;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.overlay {
  padding: 8px;
  background-color: #3f51b5;
  color: #fff;
  font-family: sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;

}

.gallery-item:hover .overlay {
  transform: translateY(0);
} */


 /* центрування елемента */

 /* .modal-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.3);
 }

 .modal {
   min-width: 250px;
   border-radius: 8px;
   padding: 20px;
   background-color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 } */

/* центрування */
/* 
 .parent {
   position: relative;
   background-color: red;
   width: 50px;
   height: 50px;
 }

 .box {
    width: 50px;
      height: 50px;
   position: absolute;
   top: 50%;
   left: 50%;
   background-color: yellow;
  transform: translate(-50%, -50%);
 }  */



 /* * {
   box-sizing: border-box;
 }

 body {
   font-family: sans-serif;
   line-height: 1.5;
   color: #212121;
 }

 input,
 textarea,
 button {
   font-family: inherit;
   line-height: inherit;
 }

 textarea {
   resize: none;
 }

 .form {
   display: flex;
   flex-direction: column;
   gap: 12px;
   padding: 8px;
   border: 1px solid #212121;
   max-width: 300px;
 }

 .form-button {
   align-self: flex-start;
 }

 .form-input {
   padding: 4px;
   color: #212121;
   border: 1px solid #212121;
   border-radius: 4px;
 }

 .form-input::placeholder {
   color: #616161;
 }

 .form-label {
   display: flex;
   flex-direction: column;
   transition: color 150ms ease-in-out;
 }

 .form-label:focus-within {
   color: #009688;
 } */

 /* пример хороший  */

 * {
   box-sizing: border-box;
 }

 body {
   font-family: sans-serif;
   line-height: 1.5;
 }

 .form {
   display: flex;
   flex-direction: column;
   gap: 12px;
   max-width: 300px;
 }

 .form-group {
   display: flex;
   flex-direction: column;
   gap: 4px;
   padding: 0;
   margin: 0;
   border: none;
 }

 .group-title {
   width: 100%;
   font-weight: 700;
 }

 .form-label {
   display: flex;
   flex-direction: column;
   cursor: pointer;
 }

 input {
   padding: 4px;
 }

 .form-field {
   display: flex;
   align-items: center;
   gap: 4px;
 }


 /* модальное окно */

 * {
   box-sizing: border-box;
 }

 body {
   margin: 0;
   min-height: 100vh;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
     Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   color: black;
   background-color: white;
 }

 p {
   margin: 0;
 }

 .container {
   max-width: 1200px;
   min-width: 320px;
   margin: 0 auto;
   padding: 0 16px;
 }

 .page-title {
   margin-top: 0;
 }

 .modal-overlay {
   background-color: rgba(0, 0, 0, 0.5);

   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 999;
   display: flex;
   justify-content: center;
   align-items: center;

   opacity: 0;
   pointer-events: none;
   transition: opacity 250ms ease-in-out;
 }

 .modal-overlay.is-open {
   opacity: 1;
   pointer-events: auto;
 }

 .modal {
   background-color: #fff;
   border-radius: 4px;
   padding: 16px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   max-width: 480px;
   max-height: 80%;
   overflow-y: auto;
 }